[mcu zboard]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[temperature_sensor _zboard_mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: zboard
min_temp: 0
max_temp: 100

######################################################################
#  Z STEPPER
######################################################################
# Left stepper stepper_z is connected to stepper_z on the creality board
[stepper_z]
step_pin: zboard:PB5
dir_pin: !zboard:PB6
enable_pin: !zboard:PC3
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
gear_ratio: 80:16
position_min: -2
position_max: 255
endstop_pin: probe:z_virtual_endstop
homing_speed: 25
homing_retract_dist: 5.0
homing_retract_speed: 10
second_homing_speed: 3

# Right stepper stepper_z is connected to stepper_y on the creality board
[stepper_z1]
step_pin: zboard:PB7
dir_pin: zboard:PB8
enable_pin: !zboard:PC3
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop

[z_tilt]
z_positions:
  0,117
  235,117
# A list of X, Y coordinates (one per line; subsequent lines
# indented) describing the location of each bed "pivot point". The
# "pivot point" is the point where the bed attaches to the given Z
# stepper. It is described using nozzle coordinates (the X, Y position
# of the nozzle if it could move directly above the point). The
# first entry corresponds to stepper_z, the second to stepper_z1,
# the third to stepper_z2, etc. This parameter must be provided.
points:
  8,86.5
  219,86.5
# A list of X, Y coordinates (one per line; subsequent lines
# indented) that should be probed during a Z_TILT_ADJUST command.
# Specify coordinates of the nozzle and be sure the probe is above
# the bed at the given nozzle coordinates. This parameter must be
# provided.
speed: 250
horizontal_move_z: 8
retries: 10
retry_tolerance: 0.005
# If retries are enabled then retry if largest and smallest probed
# points differ more than retry_tolerance. Note the smallest unit of
# change here would be a single step. However if you are probing
# more points than steppers then you will likely have a fixed
# minimum value for the range of probed points which you can learn
# by observing command output.

